<nav class="nav-header">
  <a class="button" mat-button tabindex="0" href="/" routerlink="/">
    <i class="material-icons" class="logo">
    ondemand_video
    </i>
    AngularFilm
  </a>
  <a class="navbar-hide-small button" mat-button tabindex="0" href="/" routerlink="/">
    Top 250
  </a>
  <a class="navbar-hide-small button" mat-button tabindex="0" href="/" routerlink="/">
    Flim List
  </a>
  <a class="navbar-hide-small button" mat-button tabindex="0" href="/" routerlink="/">
    Components
  </a>
  <div class="flex-spacer"></div>
  <button mat-button>1.0</button>
  <a href="https://github.com/diliburong/angular6-film" mat-button class="navbar-hide-small button">
    <img src="/assets/image/github-circle-white-transparent.svg" alt="" srcset="" class="logo">
    GitHub
  </a>

  <a href="https://github.com/diliburong/angular6-film" class="navbar-show-small button " mat-icon-button>
    <img src="/assets/image/github-circle-white-transparent.svg" alt="" srcset="" class="logo">
  </a>
</nav>

<nav class="navbar navbar-show-small">
  <a mat-button class="navbar-link" href="/" routerlink="/">Top 250</a>
  <a mat-button class="navbar-link" href="/" routerlink="/">Flim List</a>
  <a mat-button class="navbar-link" href="/" routerlink="/">Components</a>
</nav>